/* RESET CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{

    --primary-color:  #F5CF06;
    --secondary-color: #8E4106;
    --white: #FFFFFF;
    --space-default: 70px;
}
 body{
    height: 100vh;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    padding-top: var(--space-default);
    padding-right: var(--space-default);
    padding-bottom: 24px;
    padding-left: var(--space-default);

 }
 header{
background-color: aqua;

 }

 main{
background-color: burlywood;
flex-grow: 1;
 }
 footer{

background-color: cadetblue;
 }